
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1493822729209'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1493822729209#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1493822729209') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1493822729209') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1493822729209#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before { content: "\f0179"; }

.icon-fangdajing:before { content: "\e605"; }

.icon-aixin:before { content: "\e63e"; }

.icon-pingguo:before { content: "\e6d6"; }

.icon-shouji:before { content: "\e602"; }

.icon-play:before { content: "\e62b"; }

.icon-yijiuhuanxin:before { content: "\e601"; }

.icon-yiyuanduobao:before { content: "\e637"; }

.icon-liwuhe:before { content: "\e619"; }

.icon-huafeichongzhi:before { content: "\e61d"; }

.icon-daohanglan:before { content: "\e70d"; }

.icon-shoujiqia:before { content: "\e60b"; }

.icon-shouji1:before { content: "\e607"; }

